header {
  height: 145px;
}

p {
  font-size: 1.3rem;
  align-items: center;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.welcome h1 {
  padding-left: 1rem;
  font-family: 'Inter';
  font-weight: 400;
}

.welcome .user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 0;
}

.input {
  background-image: url(assets/images/search-icon.svg);
  background-position: right;
  background-repeat: no-repeat;
  width: 340px;
}

.search {
  width: 2rem;
}

.food-categories {
  display: flex;
  overflow-y: scroll;
  gap: 1rem;
  margin-top: 1rem;
}

.food-categories::-webkit-scrollbar {
  display: none;
}

.btn-categories {
  border-radius: 6rem;
  justify-content: space-between;
  height: 36px;
  text-align: center;
  line-height: 36px;
  padding: 0px 5px;
}

p {
  font-size: 1rem;
  min-width: 88px;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
  margin-top: 2rem;
  gap: 2rem;
  padding-bottom: 300px;
}

.restaurant-card {
  max-width: 320px;
  min-height: 400px;
  max-height: 400px;
  border-radius: 0 0 1rem 1rem;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  margin: auto;
  animation: fadeUp 1s ease;
}

.card-header {
  position: relative;
  border-radius: 1rem 1rem 0 0;
}

.restaurant-favourites {
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-image: url('./assets/images/favourite-icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.restaurant-favourites-full {
  background-image: url('./assets/images/full-heart.svg');
}

.restaurant-img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.restaurant-name {
  font-family: 'Inter';
  padding: 1rem;
}

.restaurant-description {
  padding: 1rem;
  font-size: 0.875rem;
}

.restaurant-distance {
  position: absolute;
  color: var(--bg-color);
  background-color: #73d17d;
  bottom: 10px;
  right: 80px;
  padding: 0.5rem;
  border-radius: 6rem;
  text-align: center;
}

.restaurant-rating {
  position: absolute;
  color: var(--bg-color);
  background-color: #9bcfff;
  bottom: 10px;
  right: 10px;
  padding: 0.5rem;
  min-width: 56px;
  border-radius: 6rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .welcome {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 16px 0px;
  }

  .welcome h1 {
    font-size: 2rem;
  }

  .welcome .user {
    width: 100px;
    height: 100px;
  }

  .input {
    width: 450px;
    margin: auto;
    display: block;
  }

  .food-categories {
    width: 100%;
    justify-content: center;
  }

  .btn-categories {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .restaurant-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 100px;
  }
}
