.container {
  display: flex;
  justify-content: center;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.bg-color {
  background-image: url('./assets/images/bgMobile.jpg');
  background-size: cover;
}

.formConnexion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem 0;
}

.mdp {
  text-align: end;
}

.titleLogin {
  text-align: center;
  padding-bottom: 25px;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.sauce {
  max-width: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .bg-color {
    background-image: url('./assets/images/bgDesktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
  }
  .sauce {
    max-width: 150px;
    bottom: 0;
    left: 0;
  }
}
