@import './login.css';
@import './sign-up.css';
@import './home.css';
@import './welcome.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Spot';
  src: local('Spot-italic'), url('./assets/fonts/Spot-Italic.eot') format('opentype'), url('./assets/fonts/Spot-Italic.woff') format('woff');
  src: local('Spot-Normal'), url('./assets/fonts/Spot-Normal.eot') format('opentype'), url('./assets/fonts/Spot-Normal.woff') format('woff');
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  padding: 0 1rem;
  overflow-y: hidden;
  height: 100vh;
  max-height: -webkit-fill-available;
}

:root {
  --primary-color: #ff5486;
  --bg-color: #fffaf5;
  --text-color: #060d0f;
  --bg-input: #e8e8e8;

  --transition: all 200ms ease-in-out;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Spot';
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
}

.logo {
  max-width: 125px;
  margin: auto;
}

.btn {
  display: block;
  border-radius: 6rem;
  border: 1px solid var(--primary-color);
  width: 270px;
  padding: 1.2rem 0;
  text-align: center;
  font-family: 'Spot';
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.86, 0.01, 0.15, 0.99);
  transition: 0.4s;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1);
}

.btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
  clip-path: circle(0.5% at 50% 50%);
  transition: 0.4s;
  opacity: 1;
}

.btn,
.btn a {
  text-decoration: none;
}

.btn-full,
.btn-full a {
  color: var(--bg-color);
}

.btn-outline,
.btn-outline a {
  color: var(--primary-color);
}

.btn-full {
  background-color: var(--primary-color);
}

.btn-outline {
  background-color: transparent;
}

.btn-full:hover,
.btn-full:hover a {
  color: var(--primary-color);
}

.btn-outline:hover,
.btn-outline:hover a {
  color: var(--bg-color);
}

.btn-full::before {
  background-color: var(--bg-color);
}

.btn-outline::before {
  background: var(--primary-color);
}

.btn-outline:hover::before,
.btn-full:hover::before {
  clip-path: circle(100% at 50% 50%);
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 4rem;
  }

  .btn {
    width: 400px;
  }
}

input {
  background-color: var(--bg-input);
  color: var(--text-color);
  border-radius: 6rem;
  padding: 1.2rem;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  input {
    width: 400px;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
