nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo-welcome {
  margin: initial;
}

nav .btn-group {
  display: none;
}

.welcome-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-section .welcome-content {
  text-align: center;
  order: 1;
}

.welcome-section .welcome-image {
  width: 100%;
}

.welcome-section p {
  display: none;
}

.welcome-section .welcome-content input {
  display: none;
}

.welcome-section .welcome-image img {
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  nav {
    justify-content: space-between;
  }

  nav .btn-group {
    display: initial;
  }

  .welcome-section {
    flex-direction: row;
    gap: 1rem;
  }

  .welcome-section .welcome-content {
    order: initial;
    width: 50%;
    text-align: left;
  }

  .welcome-section .welcome-image {
    width: 50%;
  }

  .welcome-section .welcome-content p {
    display: block;
    margin: 2rem 0;
    line-height: 1.8;
    font-size: 1.1rem;
  }

  .welcome-section .welcome-content p strong {
    color: var(--primary-color);
  }

  welcome-section .welcome-content form {
    display: flex;
    gap: 1rem;
  }

  .welcome-section .welcome-content form input {
    display: initial;
  }

  .welcome-btn {
    width: 200px !important;
  }
}
